<!DOCTYPE html>
<html lang="en">
<head>
  <title>Hire|Bot</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>

  <!-- CSS  -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.96.1/css/materialize.min.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="/assets/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
  {% include "./_header.html" %}

  <div class="container">
    <br><br>
    <h1 class="header center teal-text text-accent-4">HireBot</h1>
    <div class="row center">
      <h5 class="header col s12 light">An algorithmic approach to headhunting</h5>
      <h5 class="header col s12 light">Take the hassle out of applications and avoid test projects and useless brainteasers</h5>
    </div>
    <div class="row center">
      <a href="https://github.com/login/oauth/authorize?client_id=07b85fc04f2dca752565&state=123&scope=user:email,public_repo" class="btn-large waves-effect waves-light teal accent-4">Continue with Github</a>
      <!--<a href="https://github.com/login/oauth/authorize?client_id=07b85fc04f2dca752565&state=123&scope=user:email,public_repo" class="btn-large waves-effect waves-light teal accent-4">Continue with Github</a>-->
    </div>
    <br><br>

  </div>

  <div class="container">
    <div class="section">
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="mdi-image-camera"></i></h2>
            <h5 class="center">Be discovered</h5>

            <p class="light">Recruiters will reach out to you and forward job offers.
            If you are and good and passionate about what you do, there should
            be no reason not to show yourself in public.</p>
          </div>
        </div>
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="mdi-image-flash-on"></i></h2>
            <h5 class="center">Speed up hiring</h5>

            <p class="light">Save time and motivation
            by avoiding useless test cases and test projects. You know what
            you can do - your work speaks for itself.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="mdi-social-group"></i></h2>
            <h5 class="center">Gain recognition</h5>

            <p class="light">Make your work on open source
            software visible and valuable for recruiters.
            Be recognized for your passions and deeds,
            not the names of companies you worked for.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <div class="col s12">
            <h5 class="header white-text text-darken-2">Easy on recruiters. Take the hassle out of finding excellent technical employees and avoid time-wasting interviews.</h5>
          </div>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="/assets/img/unauthorized-index-parallax-img.jpg" alt="Unsplashed background img 2"></div>
  </div>

  <div class="container">
    <div class="section">
      <div class="row">
        <div class="col s12 m3">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="mdi-social-person-add"></i></h2>
            <h5 class="center">Developers sign up</h5>
            <p class="light">Once signed up, developers provide their open source work for analysis and benchmarking.</p>
          </div>
        </div>

        <div class="col s12 m3">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="mdi-content-create"></i></h2>
            <h5 class="center">Enter a job description</h5>
            <p class="light">
              Feed the system with the relevant data from the job advertisement
              that was created for the vacant position.
            </p>
          </div>
        </div>

        <div class="col s12 m3">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="mdi-image-portrait"></i></h2>
            <h5 class="center">Screen canidates</h5>
            <p class="light">Pick the best among
            thousands of candidates, which are ranked
            by compliance with the given criteria</p>
          </div>
        </div>

        <div class="col s12 m3">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="mdi-action-grade"></i></h2>
            <h5 class="center">Gain a competitive edge</h5>

            <p class="light">The war for talent is on.
            Use algorithmic power to grab the best talent
            while it is still hireable, saving money and time
            along the way</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="parallax-container valign-wrapper no-pad-bot">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header teal-text text-accent-4">Stay in the loop</h5>
          <form action="http://flxw.us10.list-manage.com/subscribe/post?u=1ae9720b7b8c0dff6e7e1e7c8&amp;id=d43dd84ce4" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
            <div class="input-field col s5 offset-s4">
              <input class="grey-text text-darken-2" type="email" value="" name="EMAIL" id="mce-EMAIL" required>
            </div>
            <div class="input-field col s3">
              <input class="btn teal accent-4 btn-large" type="submit" name="" value="Submit">
            </div>

            <div id="mce-responses" class="clear">
              <div class="response" id="mce-error-response" style="display:none"></div>
              <div class="response" id="mce-success-response" style="display:none"></div>
            </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;"><input type="text" name="b_1ae9720b7b8c0dff6e7e1e7c8_d43dd84ce4" tabindex="-1" value=""></div>
          </form>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="/assets/img/unauthorized-index-parallax-img2.jpg" alt="Unsplashed background img 2"></div>
  </div>

  {% include "./_footer.html" %}

  <script type="text/javascript">
    $(document).ready(function() {
      $('.parallax').parallax()
    })
  </script>
</body>
</html>
