.icon-block
  padding 0 15px

.parallax-container
  height 300px !important
  line-height 0
  height auto
  color rgba(255,255,255,.9)

.parallax-container .section
  width 100%

#refresh-repos
  margin-right 1em

#headerlist > li
  padding 0.25em

.collapsible-header > img.circle
  height 60%
  margin-top 5px

body
  display flex
  min-height 100vh
  flex-direction column

main
  flex 1 0 auto